body {
  font-family: "Raleway", sans-serif;
}
.card {
  margin-top: 50px;
}

h1 {
  text-align: center;
  padding: 20px;
  color: lightseagreen;
}

h2,
h3,
.today,
.time {
  text-align: center;
  position: relative;
  right: 200px;
}

.degrees {
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

h3 {
  font-size: 90px;
  color: lightseagreen;
}

p {
  font-size: 20px;
  line-height: 20px;
  color: midnightblue;
}

.grid {
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  left: 425px;
  bottom: 75px;
  color: midnightblue;
}

form {
  padding-top: 40px;
}
